.app {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 100px;
  margin-top: 20px;
}

.vendor-cards-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 40px;
  border: 1px solid red;
}

.vendor-breakdown-container {
  width: 65%;
  border: 1px solid blue;
}
.vendor-monitor-container {
  width: 35%;
  border: 1px solid blue;
}

.vendor-table-container {
  border: 1px solid gray;
}

@media (max-width: 840px) {
  .header-container {
    max-width: 400px;
    margin: auto;
    border: 1px solid green;
    padding: 16px;
  }

  .vendor-cards-container {
    flex-direction: column;
    gap: 20px;
    margin: 0 auto;
  }
  .vendor-breakdown-container {
    width: 100%;
    border: 1px solid red;
  }
  .vendor-monitor-container {
    width: 100%;
  }
  .vendor-table-container {
    margin: 0 auto;
  }
}
