.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 16px 0; */
  flex-wrap: wrap;
  width: 100%;
  /* border: 1px solid gray; */
}

.header-title {
  font-size: 1.25rem;
  font-weight: 600;
  color: #111827;
  font-size: 24px;
  line-height: 32px;
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header-search {
  background: none;
  border: none;
  font-size: 18px;
  color: #6b7280;
  cursor: pointer;
  padding: 6px;
  display: flex;
  align-items: center;
}

.header-btn {
  background: #fff;
  border: 1px solid #e5e7eb;
  border-radius: 6px;
  padding: 8px 16px;
  font-size: 1rem;
  color: #414651;
  cursor: pointer;
  transition: background 0.2s;
  font-weight: 500;
  font-size: 14px;
}
.header-btn:hover {
  background: #f3f4f6;
}

.header-btn-span {
  display: flex;
  align-items: center;
  justify-content: center;
}

.customise-icon-img {
  width: 11px;
  height: 11px;
}
.header-btn-text {
}
/* Responsive for mobile */
@media (max-width: 840px) {
  .header-container {
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }
  .header-actions {
    width: 100%;
    padding: 0;
    margin-top: 4px;
    gap: 8px;
  }
  .header-search {
    margin-left: 0;
    order: -1;
  }
}
